{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "comma-dangle": "off",
    "react/jsx-boolean-value": "off",
    "react/prop-types": "off",
    "no-console": "off",
    "no-nested-ternary": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
